PORT=3000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=peringatan_banjir

# MQTT Configuration
MQTT_BROKER_URL=mqtt://192.168.1.14:1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC_PREFIX=floodguard
MQTT_SIMPLE_TOPIC=sensor/ultrasonic
MQTT_DEFAULT_DEVICE_ID=SENSOR-001
# Optional: used to convert distance_cm -> water_level (water_level = sensor_height_cm - distance_cm)
MQTT_SENSOR_HEIGHT_CM=
